<div class="text-center">
  <p>退会すると、購入には再度会員登録が必要です。</p>
  <p>同じメールアドレスでは再登録はできません。</p>
  <p>また、購入履歴が閲覧できなくなります。</p>
  <p>本当に退会しますか？</p>
  <p><%= link_to "退会しない", customer_path(@customer), class:"btn btn-outline-secondary" %></p>
  <%= link_to "退会する", withdraw_customers_path, method: :patch, class:"btn btn-outline-danger", data: { confirm: "本当に退会しますか？"} %></p>
</div>