<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <p class="mozi">ログイン</p>
      <hr>
      <%= form_with model: resource, url: session_path(resource_name), local: true do |f| %>

        <p class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス" %>
        </p>

        <p class="field">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "パスワード" %>
        </p>

        <div class="button">
          <button type="submit"> ログイン</button>
        </div>

      <% end %>

      <%= render "public/shared/links" %>
