<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#ddffbc;">
  <div class="container">
    <a class="navbar-brand" href="/" data-turbolinks=false>GomaShop</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
        <li>Log in</li>
        <li>MyPage</li>
        <li>商品一覧</li>
    </ul>
  </div>
</nav>